<div id="carousel-banner-{{ module }}" class="customs carousel slide{% if effect == 'fade' %} carousel-fade{% endif %}" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% set banner_row = 0 %}
    {% for carousel in banners|batch(items) %}
      <div class="carousel-item{% if banner_row == 0 %} active{% endif %}">
        <div class="row justify-content-center" >
          {% for banner in carousel %}
            <div class="col-{{ (12 / items)|round }} text-center block-banner" style="background-image: url({{ banner.image }});">
              {# {% if banner.link %}
                <a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid w-100"/></a>
              {% else %}
                <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid w-100"/>
              {% endif %} #}
            </div>
          {% endfor %}
        </div>
      </div>
      {% set banner_row = banner_row + 1 %}
    {% endfor %}
  </div>
</div>
<script type="text/javascript"><!--
$(document).ready(function () {
    new bootstrap.Carousel(document.querySelector('#carousel-banner-{{ module }}'), {
        ride: 'carousel',
        interval: {{ interval|escape('js') }},
        wrap: true
    });
});
//--></script>
