<form method="post" data-oc-toggle="ajax" data-oc-load="{{ cart }}" data-oc-target="#header-cart">
  <div class="product-thumb">
    <div class="image customs">
      <a><img src="{{ thumb }}" alt="{{ name }}" title="{{ name }}" class="img-fluid"/></a>
      <div class="product-quick-view">
          <a href="{{ href }}" class="btn-product-quick-view" href="javascript:void(0)" title="Xem nhanh {{ name }}"></a>
      </div>
      <div class="btn-quick-cart">
          <button type="submit" class="btn-add-to-cart" formaction="{{ add_to_cart }}" title="{{ button_cart }}"><i class="fa-solid fa-shopping-cart"></i></button>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="description">
      <h4><a class"title-product" href="{{ href }}">{{ name }}</a></h4>
      {# <p>{{ description }}</p> #}
      {% if price %}
        <div class="price">
          {% if not special %}
            <span class="price-new">{{ price }}</span>
          {% else %}
            <span class="price-new">{{ special }}</span> <span class="price-old">{{ price }}</span>
          {% endif %}
          {% if tax %}
            <span class="price-tax">{{ text_tax }} {{ tax }}</span>
          {% endif %}
        </div>
      {% endif %}
      {% if review_status and rating %}
        <div class="rating">
          {% for i in 1..5 %}
            {% if rating < i %}
              <span class="fa-stack"><i class="fa-regular fa-star fa-stack-1x"></i></span>
            {% else %}
              <span class="fa-stack"><i class="fa-solid fa-star fa-stack-1x"></i><i class="fa-regular fa-star fa-stack-1x"></i></span>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    
      <div class="button-group btn-cart-product col-md-show col-lg-hidden">
        <button type="submit" formaction="{{ add_to_cart }}" data-bs-toggle="tooltip" title="{{ button_cart }}" class="btn btn-outline-primary w-100"><i class="fa-solid fa-shopping-cart"></i></button>
      </div>
    </div>
    <input type="hidden" name="product_id" value="{{ product_id }}"/>
    <input type="hidden" name="quantity" value="{{ minimum }}"/>
  </div>
</form>
