<div id="cart" class="btn-group btn-block">
  <button id="cart-total" type="button" data-toggle="dropdown" data-loading-text="{{ text_loading }}" class="btn btn-inverse btn-block btn-lg dropdown-toggle"><img src="image/catalog/CartIcon.png" alt="CartIcon.png"/> {{ text_items }}</button>
  <ul class="dropdown-menu pull-right">
    {% if products or vouchers %}
    <li>
      <table class="table table-striped ttr_prochec_table_background" id="cart_summary">
        {% for product in products %}
        <tr class="ttr_prochec_Heading">
          <td class="ttr_prochec_image_border text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="opc_normal_link" /></a> {% endif %}</td>
          <td class="text-left opc_cart_desc"><a href="{{ product.href }}">{{ product.name }}</a> {% if product.option %}
            {% for option in product.option %} <br />
            - <small>{{ option.name }} {{ option.value }}</small> {% endfor %}
            {% endif %}
            {% if product.recurring %} <br />
            - <small>{{ text_recurring }} {{ product.recurring }}</small> {% endif %}</td>
          <td class="text-right opc_cart_desc">x {{ product.quantity }}</td>
          <td class="text-right ttr_prochec_price">{{ product.total }}</td>
          <td class="text-center"><button type="button" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove-circle"></i></button></td>
        </tr>
        {% endfor %}
        {% for voucher in vouchers %}
        <tr>
          <td class="text-center"></td>
          <td class="text-left">{{ voucher.description }}</td>
          <td class="text-right opc_cart_desc">x&nbsp;1</td>
          <td class="text-right ttr_prochec_price">{{ voucher.amount }}</td>
          <td class="text-center text-danger"><button type="button" onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
        </tr>
        {% endfor %}
      </table>
    </li>
    <li>
      <div>
        <table id="cart_summary" class="table table-bordered ttr_prochec_table_background">
          {% for total in totals %}
          <tr class="ttr_opc_table">
            <td class="text-right ttr_prochec_subtotal"><strong>{{ total.title }}</strong></td>
            <td class="text-right ttr_prochec_subtotal">{{ total.text }}</td>
          </tr>
          {% endfor %}
        </table>
        <p class="text-right"><a href="{{ cart }}"><strong class="btn btn-info"> {{ text_cart }}</strong></a>&nbsp;&nbsp;&nbsp;<a href="{{ checkout }}"><strong class="btn btn-info"> {{ text_checkout }}</strong></a></p>
      </div>
    </li>
    {% else %}
    <li>
      <p class="text-center">{{ text_empty }}</p>
    </li>
    {% endif %}
  </ul>
</div>
