{% if modules %}
<aside id="ttr_sidebar_left">
<div id="ttr_sidebar_left_margin">
<div class="margin_collapsetop"></div>
<div class="ttr_sidebar_left_padding">
{% for module in modules %}
<div class="ttr_block">
<div class="ttr_block_content">
{{ module }}
</div>
</div>
{% endfor %}
<div class="margin_collapsetop"></div>
</div>
</div>
</aside>
{% endif %}
