<ul class="ttr_menu_items nav navbar-nav nav-center">
{% set key = 1 %} {% set child_count = categories|length %}
 {% for category in categories %}
{% set cat_id = category.category_id %}
{% if category.children %}
{% if path == cat_id %}
<li class="ttr_menu_items_parent dropdown"><a href="{{ category.href }}" class="ttr_menu_items_parent_link_active_arrow dropdown-toggle" data-toggle="dropdown"><span class=" menuchildicon"></span>{{ category.name }} </a>
{% else %}
<li class="ttr_menu_items_parent dropdown"><a href="{{ category.href }}" class="ttr_menu_items_parent_link_arrow dropdown-toggle" data-toggle="dropdown"><span class=" menuchildicon"></span>{{ category.name }} </a>
{% endif %}
<div id="dropdown-container"class="dropdown-menu oc_menu">
{% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
<ul class="child dropdown-menu"> 
{% for child in children %}
<li class = "dropdown dropdown-submenu"><a href="{{ child.href }}"><span class="menuchildicon" ></span>{{ child.name }}</a><hr class="separator"></li>
{% endfor %}
<li class = "dropdown dropdown-submenu"><a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a></li>
</ul>
{% endfor %}
</div>
{% if key != child_count %}
<hr class="horiz_separator" >
{% endif %}
</li>
{% else %}
{% if path == cat_id %}
<li class="ttr_menu_items_parent dropdown"><a href="{{ category.href }}" class="ttr_menu_items_parent_link_active">{{ category.name }}</a>{% if key != child_count %}<hr class=" horiz_separator" >{% endif %}</li>
{% else %}
<li class="ttr_menu_items_parent dropdown"><a href="{{ category.href }}" class="ttr_menu_items_parent_link"><span class="menuchildicon" ></span>{{ category.name }}</a>{% if key != child_count %}<hr class=" horiz_separator" >{% endif %}</li>
{% endif %}
{% endif %}
{% set key = key + 1 %}
{% endfor %}
</ul>
