{{ header }}
<div id="ttr_content_and_sidebar_container" class="container affiliate-login">
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'ttr_both_sidebar' %}
    {% elseif column_left %}
	{% set class = 'ttr_single_sidebar' %}
	{% elseif column_right %}
	{% set class = 'ttr_single_sidebar_right' %}
    {% else %}
    {% set class = 'ttr_zero_sidebar' %}
    {% endif %}
    <div id="ttr_content" class="{{ class }}"><div id="ttr_content_margin">
    <ul class="breadcrumb">{% for breadcrumb in breadcrumbs %} <li> <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>{% endfor %}</ul>
    <div id="content">{{ content_top }}
{% for i in 0..cabv-1 %}{% set flag, break = 0, false %}{% for key, value in  attribute(_context, 'content_pos_above' ~ i) if not key % 2 %}{% if value.1 == true %}{% set flag = [1] %}{% for f in flag if not break %}<div class= "contenttopcolumn{{ i }}" >{% set break = true %}{% endfor %}{% endif %}{% endfor %}{% for i,value in attribute(_context, 'content_pos_above' ~ i) if not i % 2 %} {{ value.0 }} {% endfor %}{% if break %} </div>{% endif %}<div style= "clear: both;"></div>{% endfor %}<!--content_above_end-->
      <h1 class="opc_cart_heading">{{ heading_title }}</h1>
      <div class="ttr_cart_content">{{ text_description }}</div>
      <div class="row">
        <div class="col-md-6 ttr_opc_personal_deatils">
          <div class="well opc_expander_innerbackground opc_expander_innerborder">
            <h2 class="opc_cart_heading">{{ text_new_affiliate }}</h2>
            <p>{{ text_register_account }}</p>
            <a href="{{ register }}" class="btn btn-primary">{{ button_continue }}</a></div>
        </div>
        <div class="col-md-6 ttr_opc_address">
          <div class="well opc_expander_innerbackground opc_expander_innerborder">
            <h2 class="opc_cart_heading">{{ text_returning_affiliate }}</h2>
            <p class="ttr_prodsignincontent"><strong>{{ text_i_am_returning_affiliate }}</strong></p>
            <form action="{{ action }}" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label class="control-label ttr_prodsignincontent" for="input-email">{{ entry_email }}</label>
                <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
              </div>
              <div class="form-group">
                <label class="control-label ttr_prodsignincontent" for="input-password">{{ entry_password }}</label>
                <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
                <a class="opc_normal_link" href="{{ forgotten }}">{{ text_forgotten }}</a> </div>
              <input type="submit" value="{{ button_login }}" class="btn btn-primary" />
              {% if redirect %}
              <input type="hidden" name="redirect" value="{{ redirect }}" />
              {% endif %}
            </form>
          </div>
        </div>
      </div>
      {{ content_bottom }}</div>
				    {% for i in 0..cblw-1 %}{% set flag, break = 0, false %}{% for key, value in  attribute(_context, 'content_pos_below' ~ i) if not key % 2 %}{% if value.1 == true %}{% set flag = [1] %}{% for f in flag if not break %}<div class= "contentbottomcolumn{{ i }}">{% set break = true %}{% endfor %}{% endif %}{% endfor %}{% for i,value in attribute(_context, 'content_pos_below' ~ i) if not i % 2 %} {{ value.0 }} {% endfor %}{% if break %} </div>{% endif %}<div style= "clear: both;"></div>{% endfor %}<!--content_below_end-->
				  
      </div></div>
    {{ column_right }}</div>
</div>
{{ footer }}
