body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #666;
  font-size: 12px;
  line-height: 20px;
  width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  color: #444;
}
/* Override the bootstrap defaults */
h1 {
  font-size: 33px;
}
h2 {
  font-size: 27px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 15px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10.2px;
}
a {
  color: #23a1d1;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
/* Chrome border line */
button:focus {
  outline: none !important;
}
legend {
  font-size: 18px;
  padding: 7px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
label {
  font-size: 12px;
  font-weight: normal;
}
.list-unstyled a {
  text-decoration: none;
}
.nav-tabs {
  margin-bottom: 15px;
}
div.required .col-form-label:before, div.required .form-label:before {
  content: "* ";
  color: #F00;
  font-weight: bold;
}
@media (min-width: 768px) {
  .col-form-label {
    text-align: right;
  }
}
#alert {
  z-index: 9999;
}
#alert .alert {
  min-width: 400px;
  position: relative;
}
@media (min-width: 1300px) {
  #alert .alert {
    right: 50px;
  }
}
@media (min-width: 1400px) {
  #alert .alert {
    right: 0px;
  }
}
@media (min-width: 1600px) {
  #alert .alert {
    right: 100px;
  }
}
@media (min-width: 1800px) {
  #alert .alert {
    right: 200px;
  }
}
@media (min-width: 2000px) {
  #alert .alert {
    right: 300px;
  }
}
@media (min-width: 2200px) {
  #alert .alert {
    right: 400px;
  }
}
@media (min-width: 2400px) {
  #alert .alert {
    right: 500px;
  }
}
@media (min-width: 2600px) {
  #alert .alert {
    right: 600px;
  }
}
@media (min-width: 2800px) {
  #alert .alert {
    right: 700px;
  }
}
@media (min-width: 3000px) {
  #alert .alert {
    right: 800px;
  }
}
@media (min-width: 3200px) {
  #alert .alert {
    right: 900px;
  }
}
@media (min-width: 3400px) {
  #alert .alert {
    right: 1000px;
  }
}
@media (min-width: 3600px) {
  #alert .alert {
    right: 1100px;
  }
}
@media (min-width: 3800px) {
  #alert .alert {
    right: 1200px;
  }
}
@media (min-width: 4000px) {
  #alert .alert {
    right: 1300px;
  }
}
/* top */
#top {
  background-color: #FFF;
  box-shadow: 0 0 15px 0;
  padding: 10px 0;
  margin: 0 0 20px 0;
  min-height: 44px;
  max-height: auto;
  position: relative;

}
#top .nav > .list-inline > .list-inline-item, #top .nav > .list-inline .list-inline-item > a, #top .nav > .list-inline .list-inline-item .dropdown > a {
  color: #888;
  text-shadow: 0 1px 0 #FFF;
}
#top .btn-link {
  color: #888;
  text-shadow: 0 1px 0 #FFF;
  text-decoration: none;
}
#top .btn-link:hover {
  color: #444;
}
#top a {
  font-size: 1.1em;
  text-decoration: none;
}
footer a {
  font-size: 1.1em;
  text-decoration: none;
}
/* logo */
#logo {
  margin: 0 0 10px 0;
}
#logo img {
  max-width: 200px;
}
/* search */
#search {
  margin-bottom: 10px;
}
#search .form-control-lg {
  height: 40px;
  font-size: 12px;
  line-height: 20px;
  padding: 0 10px;
}
#search .btn-lg {
  font-size: 15px;
  line-height: 18px;
  padding: 0.57rem 35px;
  text-shadow: 0 1px 0 #FFF;
}
/* cart */
#header-cart {
  margin-bottom: 10px;
}
#header-cart > .btn {
  font-size: 12px;
  line-height: 18px;
  color: #FFF;
}
#header-cart .btn-lg {
  padding: 0.65rem 1rem;
}
#header-cart .btn:hover {
  color: #FFF;
}
#header-cart.open > .btn {
  background-image: none;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  color: #666;
  box-shadow: none;
  text-shadow: none;
}
#header-cart.open > .btn:hover {
  color: #444;
}
#header-cart .dropdown-menu {
  background: #eee;
  z-index: 1001;
  min-width: 100%;
}
#header-cart .dropdown-menu table {
  margin-bottom: 10px;
}
#header-cart .dropdown-menu li {
  min-width: 427px;
  padding: 0 10px;
}
#header-cart .dropdown-menu li p {
  margin: 20px 0;
}
@media (max-width: 478px) {
  #header-cart .dropdown-menu {
    width: 100%;
  }
  #header-cart .dropdown-menu li > div {
    min-width: 100%;
  }
}
#header-cart .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
/* menu */
#menu {
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
  border: 1px solid #1f90bb;
  border-color: #1f90bb #1f90bb #145e7a;
  min-height: 40px;
  border-radius: 4px;
}
#menu.navbar {
  padding: 0 1rem;
  margin-bottom: 20px;
}
#menu .dropdown-menu {
  padding-bottom: 0;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#menu .dropdown-inner {
  display: table;
}
#menu .dropdown-inner ul {
  display: table-cell;
}
#menu .dropdown-inner ul li a:hover {
  color: #ffffff;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
}
#menu .dropdown-inner a {
  min-width: 160px;
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #333333;
  font-size: 12px;
}
#menu .see-all {
  display: block;
  margin-top: 0.5em;
  border-top: 1px solid #DDD;
  padding: 3px 20px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 3px 3px;
  font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
}
#menu #category {
  float: left;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .navbar-toggler i {
  color: #fff;
  border-color: #fff;
  font-size: 0.9em;
}
#menu .navbar-nav > li > a {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  padding: 10px 15px 10px 15px;
  min-height: 15px;
  background-color: transparent;
}
#menu .navbar-nav > li > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  #menu .dropdown:hover .dropdown-menu {
    display: block;
  }
}
@media (max-width: 767px) {
  #menu {
    border-radius: 4px;
  }
  #menu div.dropdown-inner > ul .list-unstyled {
    display: block;
  }
  #menu div.dropdown-menu {
    margin-left: 0 !important;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  #menu .dropdown-inner {
    display: block;
  }
  #menu .dropdown-inner a {
    width: 100%;
    color: #fff;
  }
  #menu .dropdown-menu a:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  #menu .dropdown-menu ul li a :hover {
    background: rgba(0, 0, 0, 0.1);
  }
  #menu .see-all {
    margin-top: 0;
    border: none;
    border-radius: 0;
    color: #fff;
  }
}
/* content */
#content {
  min-height: 600px;
}
/* footer */
footer {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 1px;
  background-color: #303030;
  border-top: 1px solid #ddd;
  color: #e2e2e2;
}
footer hr {
  border-top: none;
  border-bottom: 1px solid #666;
}
footer a {
  color: #ccc;
}
footer a:hover {
  color: #fff;
}
footer h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* breadcrumb */
.breadcrumb {
  margin: 0 0 20px 0;
  padding: 8px 0;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
}
.breadcrumb i {
  font-size: 15px;
}
.breadcrumb > li.breadcrumb-item {
  text-shadow: 0 1px 0 #FFF;
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
}
.breadcrumb > li.breadcrumb-item > a {
  text-decoration: none;
}
.breadcrumb > li.breadcrumb-item:after {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  right: -5px;
  width: 26px;
  height: 26px;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.breadcrumb > li.breadcrumb-item + li:before {
  content: "";
  padding: 0;
}
.pagination {
  margin: 0;
}
/* buttons */
.btn-light {
  color: #777;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
  background-repeat: repeat-x;
  border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}
.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active, .btn-light.disabled, .btn-light[disabled] {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
  background-position: 0;
}
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
  border-color: #1f90bb #1f90bb #145e7a;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-position: 0;
}
.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
  box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
  box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
  box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #e06342, #dc512c);
  background-repeat: repeat-x;
  border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
  background-image: none;
  background-color: #df5c39;
}
.btn-link {
  border-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: #23A1D1;
  border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  box-shadow: none;
}
.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
  background-color: #222222;
  background-image: linear-gradient(to bottom, #333333, #111111);
}
.product-thumb {
  margin-bottom: 10px;
}
.product-thumb h4 {
  font-weight: bold;
}
.product-thumb .image {
  text-align: center;
  margin-bottom: 15px;
}
.product-thumb .image a:hover {
  opacity: 0.8;
}
.product-thumb .description {
  padding: 15px;
}
.product-thumb .button-group {
  display: flex;
  border-top: 1px solid #ddd;
  background-color: #eee;
}
.product-thumb .button-group button {
  flex: 33%;
  border-radius: 0;
  display: inline-block;
  border: none;
  background-color: #eee;
  color: #888;
  line-height: 38px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.product-thumb .button-group button:hover {
  color: #444;
  background-color: #ddd;
  text-decoration: none;
  cursor: pointer;
}
.product-thumb .button-group button + button {
  border-left: 1px solid #ddd;
}
@media (min-width: 960px) {
  .product-list .product-thumb {
    display: flex;
  }
  .product-list .product-thumb .image {
    flex-direction: column;
    margin-bottom: 0px;
  }
  .product-list .product-thumb .content {
    flex-direction: column;
    flex: 75%;
    position: relative;
  }
  .product-list .product-thumb .button-group {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-left: 1px solid #ddd;
  }
}
.rating {
  padding-bottom: 10px;
}
.rating .fa-stack {
  width: 20px;
}
.rating.fa-star {
  color: #999;
  font-size: 15px;
}
.rating .fa-star {
  color: #FC0;
  font-size: 15px;
}
.rating .fa-star + .fa-star {
  color: #E69500;
}
/* product list */
.price {
  color: #444;
}
.price-new {
  font-weight: 600;
}
.price-old {
  color: #dc512c;
  text-decoration: line-through;
}
.price-tax {
  color: #999;
  font-size: 12px;
  display: block;
}
/* BS4 Changes */
.navbar-light .navbar-toggler {
  font-size: 15px;
  font-stretch: expanded;
  color: #FFF;
  padding: 6px 12px;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
  border-color: #1f90bb #1f90bb #145e7a;
}
.form-check .form-check-input {
  margin-top: 0.25rem;
}
/* Theme Custom CSS */
#display-control #compare-total.a {
  margin-top: -2px;
  padding: 0.35rem 0.565rem;
}
#product-product h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}
#information-contact .card {
  margin-bottom: 20px;
}
#cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 9999;
  opacity: 0.95;
  color: #ecf0f1;
  background: #343a40;
}
#cookie div {
  font-size: 16px;
  color: #FFFFFF;
}


/*--------------------- Menu Desktop ---------------------*/
.menu-desktop {
	position:relative;
	display: -webkit-flex;
	display: flex;
}
#nav-main-menu {width: 100%;display: inline-block;}
#nav-main-menu .main-nav * {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden
}
#nav-main-menu nav.main-nav ul li a {color:black;}
#nav-main-menu nav.main-nav ul li a:hover {color:#666666;}
#nav-main-menu .main-nav>ul>li {display: inline-block;position: relative;}
#nav-main-menu .main-nav > ul>li>a {
	display: block;
	font-size: 13px;
	font-weight: bold;
	padding: 15px 0;
	margin: 0 10px;
	position: relative;
	text-transform: uppercase;
}
#nav-main-menu .main-nav>ul>li.active > a {color: #666666;}
#nav-main-menu .main-nav ul {	padding-left: 0;margin:0;}
#nav-main-menu .main-nav ul>li a i {
	display: inline-block;
	vertical-align: middle;
	font-size: 9px;
	margin-left: 4px;
	margin-bottom: 2px;
}
#nav-main-menu .main-nav .sub_menu {
	background: #fff;
	position: absolute;
	z-index:999;
	min-width: 140px;
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.07);
	-moz-box-shadow: 0 5px 15px rgba(0,0,0,.07);
	-o-box-shadow: 0 5px 15px rgba(0,0,0,.07);
	-ms-box-shadow: 0 5px 15px rgba(0,0,0,.07);
	box-shadow: 0 5px 15px rgba(0,0,0,.07);
	-webkit-transform: rotate3d(1,0,0,-90deg);
	-moz-transform: rotate3d(1,0,0,-90deg);
	-o-transform: rotate3d(1,0,0,-90deg);
	-ms-transform: rotate3d(1,0,0,-90deg);
	transform: rotate3d(1,0,0,-90deg);
	-webkit-transform-origin: 0 0 0;
	-moz-transform-origin: 0 0 0;
	-o-transform-origin: 0 0 0;
	-ms-transform-origin: 0 0 0;
	transform-origin: 0 0 0;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
#nav-main-menu .main-nav ul>li>ul {top: 100%;margin-top:-2px;border-top:2px solid #5c5c5c;min-width: 140px;}
#nav-main-menu .main-nav li:hover>.sub_menu {
	-webkit-transform: rotate3d(0,0,0,0deg);
	-moz-transform: rotate3d(0,0,0,0deg);
	-o-transform: rotate3d(0,0,0,0deg);
	-ms-transform: rotate3d(0,0,0,0deg);
	transform: rotate3d(0,0,0,0deg);
}
#nav-main-menu .main-nav .sub_menu a {
	padding: 9px 18px;
	white-space: nowrap;
	text-align: left;
	display: block;
	font-size: 14px;
}
#nav-main-menu .main-nav .sub_menu .sub_menu {
	left: 100%;
	top: -2px;
	margin-left: 1px;
	margin-top: 0;
	-webkit-transform: rotate3d(0,1,0,90deg);
	-moz-transform: rotate3d(0,1,0,90deg);
	-o-transform: rotate3d(0,1,0,90deg);
	-ms-transform: rotate3d(0,1,0,90deg);
	transform: rotate3d(0,1,0,90deg)
}
#nav-main-menu .main-nav .sub_menu li:not(:first-child) {	border-top: 1px solid #ecf0f1}
#nav-main-menu .main-nav ul>li i {
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
	transition: .2s
}
#nav-main-menu .main-nav ul>li:hover>a i {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	margin-bottom:0;
}
#nav-main-menu .main-nav ul li .sub_menu li{position: relative}

ul{	padding:0;list-style-type:none;}
ul.unstyled, ol.unstyled { margin: 0; list-style: none outside none; }
ul.unstyled > li, ol.unstyled > li { list-style: none; }
ul.horizontal > li, ol.horizontal > li { display: block; float: left; }
ul.horizontal-inline, ol.horizontal-inline { text-align: center; }
ul.horizontal-inline > li, ol.horizontal-inline > li { display: inline; margin: 0 5px; }
ul.expanded > li, ol.expanded > li { margin-bottom: 10px; }
input:focus {outline: none;}

.dropdown-menu.search-customs {
  min-width: 20rem !important;
}

.customs.btn {
 line-height: 0.8 !important;
}

.customs.btn:hover {
  color: white !important;
}

.pd5 {
  padding: 5px;
}

/*--------------------------------------------------------------------------------
/*--------------------- Slide start ------------------------*/
.customs.carousel {
  box-shadow: none !important;
  border-radius: 0 !important;
  border: none !important;
}

#homepage_slider{overflow: hidden;}
#homepage_slider .owl-nav button {
	position: absolute;
	top: 50%;
	z-index: 2;
	padding: 0;
	width: 45px;
	height: 45px;
	line-height: 45px;
	color: #888;
	background-color: #fff;
	border: none;
	font-size: 0;
	text-align: center;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	-webkit-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
	visibility: hidden;
	opacity: 0;
}
#homepage_slider .owl-nav button.owl-prev {left: -80px;}
#homepage_slider .owl-nav button.owl-next {right: -80px;}
#homepage_slider:hover .owl-nav button{
	visibility: visible;
	opacity: 1;
	filter: alpha(opacity=100);
}
#homepage_slider:hover .owl-nav button.owl-prev{
	left: 10px;
}
#homepage_slider:hover .owl-nav button.owl-next{
	right: 10px;
}
#homepage_slider .owl-nav button svg {
	width: 25px;
	height: 25px;
	margin-top: 10px;
}
#homepage_slider .owl-nav button.owl-prev svg {
	transform: rotate(180deg);
}
#homepage_slider .owl-dots {position: absolute;bottom: 28px;text-align:center;width:100%;}
#homepage_slider .owl-dots .owl-dot {display: inline-block;}
#homepage_slider .owl-dots .owl-dot span {
	position: relative;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	border-radius: 50%;
	cursor: pointer;
	background: transparent;
	border: 2px solid #fff;
	-webkit-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}
#homepage_slider .owl-dots .owl-dot.active span {background: #fff;}
#homepage_slider .owl-nav button:hover {background: black;color: white;}
#homepage_slider .owl-nav button:hover svg {fill: white;color: white;}
/*--------------------- Slide end ------------------------*/
/*--------------------- Search start ---------------------*/
#search .site-nav-container {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 14px;
	overflow: hidden;
	min-height: 100%;
	padding: 10px; 
}
#search .site-nav-container .title-box {
	font-size: 14px;
	text-transform: uppercase;
	margin: 0;
	font-weight: 600;
	padding-bottom: 10px;
	border-bottom: 1px solid #e3e5ec;
  color: #888;
}

#search .search-form{position: relative;}
#search .search-form input.search-input {
	background: #fff;
	color: #888;
	width: 100%;
	border: 1px solid #ebebeb;
	border-radius: 4px;
	padding: 5px 55px 5px 15px;
	height: 45px;
	box-shadow: none;
	font-size:15px;
	font-weight: 500;
	-webkit-appearance: none; 
	appearance: none;
	-webkit-transition: all 150ms linear;
	-ms-transition: all 150ms linear;
	transition: all 150ms linear;
}
#search .search-form .btn-search{
  color: lightgray;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	border-radius: 0 4px 4px 0;
	background: transparent;
	box-shadow: none;
	width: 50px;
	height: 45px;
	line-height: 35px;
	overflow: hidden;
}
#search .search-form .btn-search svg{width:18px;height:45px;opacity: .6;}
#search .search-form input:focus {border-color: #333e48;outline: none;background: #fff;}
/*--------------------- Search end ---------------------*/
/*------------------------- PRODUCT ITEM-------------------------*/
.product-thumb {
	position: relative;	
	overflow: hidden;	
}
.product-thumb .image.customs {
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* Menu mobile */
.btn-product-quick-view {
	display: inherit;
}
.btn-product-quick-view:before {
	font-family: 'FontAwesome'!important;
	font: normal normal normal 18px/2 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: '\f00e';
}

.btn-add-to-cart {
	display: inherit;
}

.btn-product-quick-view {
	position: absolute;
	left: 0;
	right: 50px;
	bottom: 0;
	top: 0;
	margin: auto;
	width: 40px;
	height: 40px;
	line-height: 43px;
	padding: 0;
	z-index: 9;
	border-radius: 50%;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	text-transform: uppercase;
	font-size: 16px;
	color: #333333;
	background: #ffffff;
}

.btn-add-to-cart {
	position: absolute;
	left: 50px;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	width: 40px;
	height: 40px;
	line-height: 43px;
	padding: 0;
	z-index: 9;
	border-radius: 50%;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	text-transform: uppercase;
	font-size: 16px;
	color: #333333;
	background: #ffffff;
	border: 0;
}

.btn-add-to-cart:hover {
    color: #1b7ba0;
}

.product-thumb .image.customs:hover .btn-product-quick-view {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.product-thumb .image.customs:hover .btn-add-to-cart {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.description a {
  color:#888 !important ;
}

.btn-cart-product {
  display: none;
}

@media (min-width: 768px) {
  .btn-cart-product {
    display: none;
  }
}
@media (max-width: 767px) {
  .btn-cart-product {
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

.block-banner {
  height: 700px; 
  width: 100%;
  background-position: center;
  background-size: cover;
}
/*--------------------------------------------------------------------