{{ header }}
<div id="ttr_content_and_sidebar_container" class="container">
{% if attention %}
<div id="alert alert-info">< i class="fa fa-info-circle"></i> {{ attention }}
<button type="button" class="close" data-dismiss="alert">$times;</button> 
</div>
{% endif %}
<div class="row">
{% if column_left and column_right %}
{% set class = 'ttr_both_sidebar' %}
{% elseif column_left or column_right %}
{% set class = 'ttr_single_sidebar' %}
{% else %}
{% set class = 'ttr_zero_sidebar' %}
{% endif %}
 <div id="ttr_content" class="{{ class }}">
 <div id="ttr_content_margin" >
<div id="content">
<ul class="breadcrumb">
{% for breadcrumb in breadcrumbs %}
 <li> <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
{% endfor %}
</ul>
{% for i in 0..cabv-1 %}{% set flag, break = 0, false %}{% for key, value in  attribute(_context, 'content_pos_above' ~ i) if not key % 2 %}{% if value.1 == true %}{% set flag = [1] %}{% for f in flag if not break %}<div class="contenttopcolumn{{ i }}">{% set break = true %}{% endfor %}{% endif %}{% endfor %}{% for i,value in attribute(_context, 'content_pos_above' ~ i) if not i % 2 %} {{ value.0 }} {% endfor %}{% if break %} </div>{% endif %}{% endfor %}<div style="clear: both;"></div><!--content_above_end-->{{ content_top }}
<h1 class="ttr_page_title">{{ heading_title }}
{% if weight %}
 &nbsp;({{ weight }}) 
{% endif %}
</h1>
<form action="{{ action }}" method="post" enctype="multipart/form-data">
<div class="table-responsive">
<table id="cart_summary" class="ttr_prochec_table_background col-lg-12 col-md-12 col-sm-12 col-xs-12 std table">
<thead class="table_head_background">
<tr class="ttr_prochec_Heading">
<td class="text-center">{{ column_image }}</td>
<td class="text-left">{{ column_name }}</td>
<td class="text-left">{{ column_model }}</td>
<td class="text-left">{{ column_quantity }}</td>
<td class="text-left">{{ column_price }}</td>
<td class="text-left">{{ column_total }}</td>
</tr>
</thead>
 <tbody>
{% for product in products %}
<tr class="ttr_prochec_row_1 row-1">
<td class="text-center ttr_prochec_image_border col-lg-2 col-md-2 col-sm-5 col-xs-5 prochec_img" data-title="Image">{% if product.thumb %}
<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail"/></a>
{% endif %}</td>
<td class="text-center col-lg-2 col-md-4 col-sm-4 col-xs-4 "data-title="Product Name" style="word-wrap: break-word;" ><a class="ttr_prochec_product_link" href="{{ product.href }}">{{ product.name }}</a>
{% if not product.stock %}
<span class="text-danger">***</span>
{% endif %}
{% if product.option %}
{% for option in product.option %}
<br />
<small>{{ option.name }}: {{ option.value }}</small>
{% endfor %}
{% endif %}
{% if product.reward %}
<br />
<small>{{ product.reward }}</small>
{% endif %}
{% if product.recurring %}
  <br />
<span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small>
{% endif %}</td>
<td class="text-center opc_cart_desc col-lg-2 col-md-2" data-title="Model">{{ product.model }}</td>
<td class="text-center col-lg-2 col-md-2 col-sm-1 col-xs-1" data-title="Quantity"><div class="input-group btn-block" style="max-width: 200px;">
<input type="text"name="quantity[{{ product.cart_id }}]"value="{{ product.quantity }}"size="1"class="form-control"/>
<span class="input-group-btn">
<button type="submit" class="btn btn-info btn-sm"style="margin:0px; height:34px;"><span class="glyphicon glyphicon-repeat"></span></button>
<button type="button"class="btn btn-danger btn-sm"onclick="cart.remove('{{ product.cart_id }}');"style="margin:0px; height:34px;"><span class="glyphicon glyphicon-remove-circle"></span></button>
</span></div></td>
<td class="text-center ttr_prochec_price col-lg-2 col-md-2 col-sm-1 col-xs-1"data-title="Unit Price">{{ product.price }}</td>
<td class="text-center ttr_prochec_price col-lg-2 col-md-2 col-sm-1 col-xs-1"data-title="Total">{{ product.total }}</td>
</tr>
{% endfor %}
{% for voucher in vouchers %}
<tr>
<td data-title="Image"></td>
<td class="text-center" data-title="Product Name"><span class="cart_product_name">{{ voucher.description }}</span></td>
<td class="text-center" data-title="Model"></td>
<td class="text-center" data-title="Quantity"><div class="input-group btn-block"style="max:width:200px;">
<input type="text" name=" " value="1" size="1" disabled="disabled" class="form-control"/>
<span class="input-group-btn"><button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger btn-sm" onclick="voucher.remove('{{ voucher.key }}');" style="margin:0px; height:34px;"><span class="glyphicon glyphicon-remove-circle"></span></button></span></div></td>
<td class="text-center ttr_prochec_price" data-title="Unit Price">{{ voucher.amount }}</td>
<td class="text-center ttr_prochec_price" data-title="Total">{{ voucher.amount }}</td>
 </tr>
{% endfor %}
 </tbody>
 </table >
 </div>
 </form>
{% if modules %}
<h2 class="opc_cart_heading">{{ text_next }}</h2>
<p class="ttr_cart_content">{{ text_next_choice }}</p>
<div class="panel-group ttr_shopping_expander" id="accordion">
{% for module in modules %}
{{ module }}
</div>
{% endfor %}
</div>
{% endif %}
 <br/>
<div class="row" >
<div class="col-lg-5 col-lg-offset-7 col-md-6 col-md-offset-6 " >
<table id="cart_summary_total" class="table table-bordered cart_bottom_table  ttr_prochec_table_background col-md-4 " >
{% for total in totals %}
<tr class="ttr_opc_table">
<td class="text-right ttr_prochec_subtotal"><strong>{{ total.title }}:</strong></td>
<td class="text-right ttr_prochec_subtotal">{{ total.text }}</td>
 </tr>
{% endfor %}
 </table >
</div>
</div>
<div class="buttons cart_buttons">
<div class="pull-left ttr_button_align"><a href="{{ continue }}" class="btn btn-primary">{{ button_shopping }}</a></div>
<div class="pull-right ttr_button_align"><a href="{{ checkout }}" class="btn btn-info">Proceed to Checkout</a></div>
</div> <div style="clear: both;"></div>
{{ content_bottom }}</div>
{% for i in 0..cblw-1 %}{% set flag, break = 0, false %}{% for key, value in  attribute(_context, 'content_pos_below' ~ i) if not key % 2 %}{% if value.1 == true %}{% set flag = [1] %}{% for f in flag if not break %}<div class="contentbottomcolumn{{ i }}">{% set break = true %}{% endfor %}{% endif %}{% endfor %}{% for i,value in attribute(_context, 'content_pos_below' ~ i) if not i % 2 %} {{ value.0 }} {% endfor %}{% if break %} </div>{% endif %}{% endfor %}<div style="clear: both;"></div><!--content_below_end-->
<div></div></div>
</div>
{{ footer }}
