{{ header }}
<div id="ttr_content_and_sidebar_container" > 
{% if column_left and column_right %}
{% set class = 'ttr_both_sidebar' %}
{% elseif column_left %}
{% set class = 'ttr_single_sidebar' %}
{% elseif column_right %}
{% set class = 'ttr_single_sidebar_right' %}
{% else %}
{% set class = 'ttr_zero_sidebar' %}
{% endif %}
 <div id="ttr_content" class="{{ class }}" >
 <div id="ttr_content_margin" >
<div id="content">
 <ul class="breadcrumb">
{% for breadcrumb in breadcrumbs %}
 <li> <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
{% endfor %}
</ul>
{% for i in 0..cabv-1 %}{% set flag, break = 0, false %}{% for key, value in  attribute(_context, 'content_pos_above' ~ i) if not key % 2 %}{% if value.1 == true %}{% set flag = [1] %}{% for f in flag if not break %}<div class="contenttopcolumn{{ i }}">{% set break = true %}{% endfor %}{% endif %}{% endfor %}{% for i,value in attribute(_context, 'content_pos_above' ~ i) if not i % 2 %} {{ value.0 }} {% endfor %}{% if break %} </div>{% endif %}{% endfor %}<div style="clear: both;"></div><!--content_above_end-->
{{ content_top }}
<h2 class="opc_cart_heading">{{ heading_title }}</h2>
{% if thumb or description %}
<div class="row opc_category_description">
{% if thumb %}
<div class="text-center col-md-2"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
{% endif %}
{% if description %}
<div class="col-md-10 postcontent">{{ description }}</div>
{% endif %}
</div>
<hr>
{% endif %}
{% if categories %}
 <h3>{{ text_refine }}</h3>
{% if categories|length <= 5 %}
<div class="row">
<div class="col-md-3">
<ul>
{% for category in categories %}
<li><a href="{{ category.href }}">{{ category.name }}</a></li>
{% endfor %}
</ul>
</div>
</div>
{% else %}
<div class="row">
{% for category in categories|batch((categories|length / 4)|round(1, 'ceil')) %}
<div class="col-md-3">
<ul>
{% for child in category %}
<li><a href="{{ child.href }}">{{ child.name }}</a></li>
{% endfor %}
</ul>
</div>
{% endfor %}
</div>
{% endif %}
{% endif %}
{% if products %}
<p class="opc_category_description"><a href="{{ compare }}" id="compare-total">{{ text_compare }}</a></p>
<div class="row">
<div class="col-md-3 col-lg-2 hidden-xs">
<div class="btn-group hidden-xs">
<button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="glyphicon glyphicon-th-list"></i></button>
 <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="glyphicon glyphicon-th"></i></button>
</div>
</div>
<div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 col-lg-offset-2 col-md-offset-1 text-right opc_filters">
<label class="control-label" for="input-sort">{{ text_sort }}</label>
</div>
<div class="col-md-2 col-sm-4 col-lg-2 col-xs-4 text-right">
<select id="input-sort" class="form-control" onchange="location = this.value;">
{% for sorts in sorts %}
{% if sorts.value == '%s-%s'|format(sort, order) %}
<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
{% else %}
<option value="{{ sorts.href }}">{{ sorts.text }}</option>
{% endif %}
{% endfor %}
</select>
</div>
<div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 text-right opc_filters">
<label class="control-label" for="input-limit">{{ text_limit }}</label>
</div>
<div class="col-md-2 col-sm-2 col-lg-2 col-xs-4 text-right">
<select id="input-limit" class="form-control"onchange="location = this.value;">
{% for limits in limits %}
{% if limits.value == limit %}
<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
{% else %}
<option value="{{ limits.href }}">{{ limits.text }}</option>
{% endif %}
{% endfor %}
</select>
</div>
</div>
 <br />
<div class="row oc_flex">
{% for product in products %}
<div class="product-layout product-list" data-lgcol=" col-lg-3"  data-mdcol=" col-md-3" data-smcol =" col-sm-12" data-xscol=" col-xs-12" id="custom-class">
<div class="product-thumb ttr_post">
<div class="image product-image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a></div>
<div>
<div class="product-shop">
<div class="product-shop-margin postcontent">
<div class="caption ttr_article">
<div class="ttr_post_inner_box">
<h4 class="ttr_post_title"><a href="{{ product.href }}">{{ product.name }}</a></h4>
</div>
<p>{{ product.description }}</p>
{% if product.rating %}
<div class="rating">
{% for i in 1..5 %}
{% if product.rating < i %}
<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
{% else %}
<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
{% endif %}
{% endfor %}
</div>
{% endif %}
{% if product.price %}
 <div class=" price">
{% if not product.special %}
{{ product.price }}
{% else %}
<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
{% endif %}
{% if product.tax %}
<span class="price-tax"><?php echo $text_tax; ?> {{ product.tax }}</span>
{% endif %}
</div>
{% endif %}
</div>
<div class="button-group postedon add-to-cart">
 <button class="btn btn-primary" type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');">{{ button_cart }}</button>
<ul class="add-to-links" style="clear:both;padding-left:0px;padding-right:0px;">
<li> <a class=" "  type="button" onclick="wishlist.add('{{ product.product_id }}');">Add to Wishlist</a></li>
<li><a class=" " type="button"  onclick="compare.add('{{ product.product_id }}');">Add to Compare</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class='clearfix'></div>
{% endfor %}
</div>
 <div class="row" >
<div class="col-md-6 text-left" >{{ pagination }}</div>
<div class="col-md-6 text-right">{{ results }}</div>
</div>
{% endif %}
{% if not categories and not products %}
<p>{{ text_empty }}</p>
<div class="buttons">
<div class=" pull-right"><a href="{{ continue }}" class="btn btn-primary" >{{ button_continue }}</a></div>
</div>
{% endif %}
{{ content_bottom }}
{% for i in 0..cblw-1 %}{% set flag, break = 0, false %}{% for key, value in  attribute(_context, 'content_pos_below' ~ i) if not key % 2 %}{% if value.1 == true %}{% set flag = [1] %}{% for f in flag if not break %}<div class="contentbottomcolumn{{ i }}">{% set break = true %}{% endfor %}{% endif %}{% endfor %}{% for i,value in attribute(_context, 'content_pos_below' ~ i) if not i % 2 %} {{ value.0 }} {% endfor %}{% if break %} </div>{% endif %}{% endfor %}<div style="clear: both;"></div><!--content_below_end-->
</div></div></div>
</div>
</div>
{{ footer }}
