{{ header }}
<div id="common-home" class="container-fluid">
  <div class="row">{{ column_left }}
    <div id="content" class="col p-0">{{ content_top }}{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}