<div id="search" class="input-group mb-0 pd5">
	<div class="site-nav-container">
		<p class="title-box">{{ text_search }}</p>
		<div class="mt-3 search-form">
			<input value="{{ search }}" name="search" maxlength="40" class="form-control search-input" type="text" size="20" placeholder="...">
			<button type="button" class="btn btn-search"  data-lang="{{ language }}"><i class="fas fa-search"></i></button>
		</div>
	</div>
	{# <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control form-control-lg">
	<button type="button" data-lang="{{ language }}" class="btn btn-light btn-lg"><i class="fa-solid fa-magnifying-glass"></i></button> #}
</div>
