{{ header }}
<div id="ttr_content_and_sidebar_container" class="container account-order-info">
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'ttr_both_sidebar' %}
    {% elseif column_left %}
	{% set class = 'ttr_single_sidebar' %}
	{% elseif column_right %}
	{% set class = 'ttr_single_sidebar_right' %}
    {% else %}
    {% set class = 'ttr_zero_sidebar' %}
    {% endif %}
    <div id="ttr_content" class="{{ class }}"><div id="ttr_content_margin">
    <ul class="breadcrumb">{% for breadcrumb in breadcrumbs %} <li> <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>{% endfor %}</ul>
    <div id="content">{{ content_top }}
{% for i in 0..cabv-1 %}{% set flag, break = 0, false %}{% for key, value in  attribute(_context, 'content_pos_above' ~ i) if not key % 2 %}{% if value.1 == true %}{% set flag = [1] %}{% for f in flag if not break %}<div class= "contenttopcolumn{{ i }}" >{% set break = true %}{% endfor %}{% endif %}{% endfor %}{% for i,value in attribute(_context, 'content_pos_above' ~ i) if not i % 2 %} {{ value.0 }} {% endfor %}{% if break %} </div>{% endif %}<div style= "clear: both;" ></div>{% endfor %}<!--content_above_end-->
      <h2 class="opc_cart_heading">{{ heading_title }}</h2>
<table id="cart-summary" class="ttr_prochec_table_background table table-bordered table-hover ttr_order_info compare_table">
        <thead class="table_head_background">
          <tr class="ttr_prochec_Heading">
            <td class="text-left" colspan="2">{{ text_order_detail }}</td>
          </tr>
        </thead>
        <tbody>
          <tr data-title="{{ text_order_detail }}">
            <td class="text-left" style="width: 50%;">{% if invoice_no %} <b>{{ text_invoice_no }}</b> {{ invoice_no }}<br />
              {% endif %} <b>{{ text_order_id }}</b> #{{ order_id }}<br />
              <b>{{ text_date_added }}</b> {{ date_added }}</td>
            <td class="text-left" style="width: 50%;">{% if payment_method %} <b>{{ text_payment_method }}</b> {{ payment_method }}<br />
              {% endif %}
              {% if shipping_method %} <b>{{ text_shipping_method }}</b> {{ shipping_method }} {% endif %}</td>
          </tr>
        </tbody>
      </table>
      <table id="cart-summary" class="ttr_prochec_table_background ttr_payment_shipping_table compare_table table table-bordered table-hover">
        <thead class="table_head_background">
          <tr class="ttr_prochec_Heading">
            <td class="text-left" style="width: 50%; vertical-align: top;">{{ text_payment_address }}</td>
            {% if shipping_address %}
            <td class="text-left" style="width: 50%; vertical-align: top;">{{ text_shipping_address }}</td>
            {% endif %} </tr>
        </thead>
        <tbody>
          <tr class="ttr_prochec_row_1 row-1">
            <td class="text-left" data-title="{{ text_payment_address }}">{{ payment_address }}</td>
            {% if shipping_address %}
            <td class="text-left" data-title="{{ text_shipping_address }}">{{ shipping_address }}</td>
            {% endif %} </tr>
        </tbody>
      </table>
      <div class="table-responsive">
        <table class="ttr_prochec_table_background compare_table ttr_order_product_detail table table-bordered table-hover" id="cart-summary">
          <thead class="table_head_background">
            <tr>
              <td class="text-left"><span class="ttr_prochec_Heading">{{ column_name }}</span></td>
              <td class="text-left"><span class="ttr_prochec_Heading">{{ column_model }}</span></td>
              <td class="text-right"><span class="ttr_prochec_Heading">{{ column_quantity }}</span></td>
              <td class="text-right"><span class="ttr_prochec_Heading">{{ column_price }}</span></td>
              <td class="text-right"><span class="ttr_prochec_Heading">{{ column_total }}</span></td>
              {% if products %}
              <td style="width: 20px;"></td>
              {% endif %} </tr>
          </thead>
          <tbody>
          
          {% for product in products %}
          <tr class="ttr_prochec_row_1 row-1">
            <td class="text-left" data-title="{{ column_name }}"><span class="ttr_prochec_product_link">{{ product.name }}</span>
              {% for option in product.option %} <br />
              &nbsp;<small> - {{ option.name }}: {{ option.value }}</small> {% endfor %}</td>
            <td class="text-left" data-title="{{ column_model }}">{{ product.model }}</td>
            <td class="text-right" data-title="{{ column_quantity }}">{{ product.quantity }}</td>
            <td class="text-right" data-title="{{ column_price }}">{{ product.price }}</td>
            <td class="text-right" data-title="{{ column_total }}">{{ product.total }}</td>
            <td class="text-right" data-title="&nbsp;" style="white-space: nowrap;">{% if product.reorder %} <a href="{{ product.reorder }}" data-toggle="tooltip" title="{{ button_reorder }}" class="btn btn-primary"><i class="glyphicon glyphicon-shopping-cart"></i></a> {% endif %} <a href="{{ product.return }}" data-toggle="tooltip" title="{{ button_return }}" class="btn btn-danger"><i class="glyphicon glyphicon-arrow-left"></i></a></td>
          </tr>
          {% endfor %}
          {% for voucher in vouchers %}
          <tr class="ttr_prochec_row_1 row-1">
            <td class="text-left" data-title="{{ column_model }}">{{ voucher.description }}</td>
            <td class="text-left" data-title="{{ column_model }}"></td>
            <td class="text-right" data-title="{{ column_quantity }}">1</td>
            <td class="text-right" data-title="{{ column_price }}">{{ voucher.amount }}</td>
            <td class="text-right" data-title="{{ column_total }}">{{ voucher.amount }}</td>
            {% if products %}
            <td></td>
            {% endif %} </tr>
          {% endfor %}
            </tbody>
          
          <tfoot>
          
          {% for total in totals %}
          <tr class="ttr_opc_table">
            <td colspan="3"></td>
            <td class="text-right ttr_prochec_subtotal"><b>{{ total.title }}</b></td>
            <td class="text-right ttr_prochec_subtotal">{{ total.text }}</td>
            {% if products %}
            <td></td>
            {% endif %} </tr>
          {% endfor %}
            </tfoot>
          
        </table>
      </div>
      {% if comment %}
      <table class="ttr_prochec_table_background opc_comment_tabletable table-bordered table-hover">
        <thead class="table_head_background">
        	<tr class="ttr_prochec_Heading">
            <td class="text-left">{{ text_comment }}</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left" data-title="{{ text_comment }}">{{ comment }}</td>
          </tr>
        </tbody>
      </table>
      {% endif %}
      {% if histories %}
      <h3 class="opc_cart_heading">{{ text_history }}</h3>
      <table class="ttr_prochec_table_background ttr_order_info_last compare_table table table-bordered table-hover" id="cart-summary" >
      <thead class="table_head_background">
      	<tr class="ttr_prochec_Heading">
            <td class="text-left">{{ column_date_added }}</td>
            <td class="text-left">{{ column_status }}</td>
            <td class="text-left">{{ column_comment }}</td>
          </tr>
        </thead>
        <tbody>
        
        {% if histories %}
        {% for history in histories %}
        <tr class="ttr_prochec_row_1 row-1">
          <td class="text-center" data-title="{{ column_date_added }}">{{ history.date_added }}</td>
          <td class="text-center" data-title="{{ column_status }}">{{ history.status }}</td>
          <td class="text-center" data-title="{{ column_comment }}">{{ history.comment }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td colspan="3" class="text-center">{{ text_no_results }}</td>
        </tr>
        {% endif %}
          </tbody>
        
      </table>
      {% endif %}
      <div class="buttons clearfix">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}</div>
				    {% for i in 0..cblw-1 %}{% set flag, break = 0, false %}{% for key, value in  attribute(_context, 'content_pos_below' ~ i) if not key % 2 %}{% if value.1 == true %}{% set flag = [1] %}{% for f in flag if not break %}<div class= "contentbottomcolumn{{ i }}">{% set break = true %}{% endfor %}{% endif %}{% endfor %}{% for i,value in attribute(_context, 'content_pos_below' ~ i) if not i % 2 %} {{ value.0 }} {% endfor %}{% if break %} </div>{% endif %}<div style= "clear: both;"></div>{% endfor %}<!--content_below_end-->
      </div></div>
    {{ column_right }}</div>
</div>
{{ footer }}
