{{ header }}
<div id="ttr_content_and_sidebar_container" class="container account-return-info">
   
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'ttr_both_sidebar' %}
    {% elseif column_left %}
    {% set class = 'ttr_single_sidebar' %}
    {% elseif column_right %}
    {% set class = 'ttr_single_sidebar_right' %}
    {% else %}
    {% set class = 'ttr_zero_sidebar' %}
    {% endif %}
    <div id="ttr_content" class="{{ class }}"><div id="ttr_content_margin">
    <ul class="breadcrumb">{% for breadcrumb in breadcrumbs %} <li> <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>{% endfor %}</ul>
    <div id="content">{{ content_top }}
{% for i in 0..cabv-1 %}{% set flag, break = 0, false %}{% for key, value in  attribute(_context, 'content_pos_above' ~ i) if not key % 2 %}{% if value.1 == true %}{% set flag = [1] %}{% for f in flag if not break %}<div class= "contenttopcolumn{{ i }}" >{% set break = true %}{% endfor %}{% endif %}{% endfor %}{% for i,value in attribute(_context, 'content_pos_above' ~ i) if not i % 2 %} {{ value.0 }} {% endfor %}{% if break %} </div>{% endif %}<div style= "clear: both;" ></div>{% endfor %}<!--content_above_end-->
      <h1 class="opc_cart_heading">{{ heading_title }}</h1>
      <table id="cart-summary" class="list table table-bordered table-hover ttr_prochec_table_background ttr_return_info">
        <thead class="table_head_background">
          <tr class="ttr_prochec_Heading">
            <td class="text-left" colspan="2">{{ text_return_detail }}</td>
          </tr>
        </thead>
        <tbody>
          <tr data-title="{{ text_return_detail }}">
            <td class="text-left" style="width: 50%;"><b>{{ text_return_id }}</b> #{{ return_id }}<br />
              <b>{{ text_date_added }}</b> {{ date_added }}</td>
            <td class="text-left" style="width: 50%;"><b>{{ text_order_id }}</b> #{{ order_id }}<br />
              <b>{{ text_date_ordered }}</b> {{ date_ordered }}</td>
          </tr>
        </tbody>
      </table>
      <h3 class="opc_cart_heading">{{ text_product }}</h3>
        <table id="cart-summary" class="list table table-bordered table-hover ttr_prochec_table_background return_reason">
          <thead class="table_head_background">
            <tr class="ttr_prochec_Heading">
              <td class="text-left" style="width: 33.3%;">{{ column_product }}</td>
              <td class="text-left" style="width: 33.3%;">{{ column_model }}</td>
              <td class="text-right" style="width: 33.3%;">{{ column_quantity }}</td>
            </tr>
          </thead>
          <tbody>
            <tr class="ttr_prochec_row_1 row-1">
              <td class="text-center" data-title="{{ column_product }}">{{ product }}</td>
              <td class="text-center" data-title="{{ column_model }}">{{ model }}</td>
              <td class="text-center" data-title="{{ column_quantity }}"><span>{{ quantity }}</span></td>
            </tr>
          </tbody>
        </table>
      <h3 class="opc_cart_heading">{{ text_reason }}</h3>
        <table id="cart-summary" class="list table table-bordered table-hover ttr_prochec_table_background return_reason">
          <thead class="table_head_background">
            <tr class="ttr_prochec_Heading">
              <td class="text-left" style="width: 33.3%;">{{ column_reason }}</td>
              <td class="text-left" style="width: 33.3%;">{{ column_opened }}</td>
              <td class="text-left" style="width: 33.3%;">{{ column_action }}</td>
            </tr>
          </thead>
          <tbody>
            <tr class="ttr_prochec_row_1 row-1">
              <td class="text-center" data-title="{{ column_reason }}">{{ reason }}</td>
              <td class="text-center" data-title="{{ column_opened }}">{{ opened }}</td>
              <td class="text-center" data-title="{{ column_action }}">{{ action }}</td>
            </tr>
          </tbody>
        </table>
      {% if comment %}
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="table_head_background">
            <tr class="ttr_prochec_Heading">
              <td class="text-left">{{ text_comment }}</td>
            </tr>
          </thead>
          <tbody>
            <tr class="ttr_prochec_row_1 row-1">
              <td class="text-center" data-title="{{ text_comment }}">{{ comment }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %}
      <h3 class="opc_cart_heading">{{ text_history }}</h3>
      <div class="table-responsive">
        <table id="cart-summary" class="list table table-hover ttr_prochec_table_background ttr_transaction">
          <thead class="table_head_background">
            <tr class="ttr_prochec_Heading">
              <td class="text-left" style="width: 33.3%;">{{ column_date_added }}</td>
              <td class="text-left" style="width: 33.3%;">{{ column_status }}</td>
              <td class="text-left" style="width: 33.3%;">{{ column_comment }}</td>
            </tr>
          </thead>
          <tbody>
          
          {% if histories %}
          {% for history in histories %}
          <tr class="ttr_prochec_row_1 row-1">
            <td class="text-center">{{ history.date_added }}</td>
            <td class="text-center">{{ history.status }}</td>
            <td class="text-center">{{ history.comment }}</td>
          </tr>
          {% endfor %}
          {% else %}
          <tr class="ttr_prochec_row_1 row-1">
            <td colspan="3" class="text-center">{{ text_no_results }}</td>
          </tr>
          {% endif %}
            </tbody>
          
        </table>
      </div>
      <div class="buttons clearfix">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}</div>
				    {% for i in 0..cblw-1 %}{% set flag, break = 0, false %}{% for key, value in  attribute(_context, 'content_pos_below' ~ i) if not key % 2 %}{% if value.1 == true %}{% set flag = [1] %}{% for f in flag if not break %}<div class= "contentbottomcolumn{{ i }}">{% set break = true %}{% endfor %}{% endif %}{% endfor %}{% for i,value in attribute(_context, 'content_pos_below' ~ i) if not i % 2 %} {{ value.0 }} {% endfor %}{% if break %} </div>{% endif %}<div style= "clear: both;"></div>{% endfor %}<!--content_below_end-->
      </div></div>
    {{ column_right }}</div>
</div>
{{ footer }}
