{{ header }}
<div id="ttr_content_and_sidebar_container" class="container account-return">
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row"> {{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'ttr_both_sidebar' %}
    {% elseif column_left %}
	{% set class = 'ttr_single_sidebar' %}
	{% elseif column_right %}
	{% set class = 'ttr_single_sidebar_right' %}
    {% else %}
    {% set class = 'ttr_zero_sidebar' %}
    {% endif %}
    <div id="ttr_content" class="{{ class }}"><div id="ttr_content_margin">
    <ul class="breadcrumb">{% for breadcrumb in breadcrumbs %} <li> <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>{% endfor %}</ul>
    <div id="content">{{ content_top }}
{% for i in 0..cabv-1 %}{% set flag, break = 0, false %}{% for key, value in  attribute(_context, 'content_pos_above' ~ i) if not key % 2 %}{% if value.1 == true %}{% set flag = [1] %}{% for f in flag if not break %}<div class= "contenttopcolumn{{ i }}" >{% set break = true %}{% endfor %}{% endif %}{% endfor %}{% for i,value in attribute(_context, 'content_pos_above' ~ i) if not i % 2 %} {{ value.0 }} {% endfor %}{% if break %} </div>{% endif %}<div style= "clear: both;" ></div>{% endfor %}<!--content_above_end-->
      <h1 class="opc_cart_heading">{{ heading_title }}</h1>
      <p class="ttr_cart_content">{{ text_description }}</p>
      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal opc_expander_innerbackground opc_expander_innerborder">
        <fieldset>
          <legend class="opc_cart_heading">{{ text_order }}</legend>
          <div class="form-group required">
            <label class="col-md-2 control-label ttr_prodsignincontent" for="input-firstname">{{ entry_firstname }}</label>
            <div class="col-md-10">
              <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control" />
              {% if error_firstname %}
              <div class="text-danger">{{ error_firstname }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="col-md-2 control-label ttr_prodsignincontent" for="input-lastname">{{ entry_lastname }}</label>
            <div class="col-md-10">
              <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control" />
              {% if error_lastname %}
              <div class="text-danger">{{ error_lastname }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="col-md-2 control-label ttr_prodsignincontent" for="input-email">{{ entry_email }}</label>
            <div class="col-md-10">
              <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
              {% if error_email %}
              <div class="text-danger">{{ error_email }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="col-md-2 control-label ttr_prodsignincontent" for="input-telephone">{{ entry_telephone }}</label>
            <div class="col-md-10">
              <input type="text" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control" />
              {% if error_telephone %}
              <div class="text-danger">{{ error_telephone }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="col-md-2 control-label ttr_prodsignincontent" for="input-order-id">{{ entry_order_id }}</label>
            <div class="col-md-10">
              <input type="text" name="order_id" value="{{ order_id }}" placeholder="{{ entry_order_id }}" id="input-order-id" class="form-control" />
              {% if error_order_id %}
              <div class="text-danger">{{ error_order_id }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label ttr_prodsignincontent" for="input-date-ordered">{{ entry_date_ordered }}</label>
            <div class="col-md-3">
              <div class="input-group date">
                <input type="text" name="date_ordered" value="{{ date_ordered }}" placeholder="{{ entry_date_ordered }}" data-date-format="YYYY-MM-DD" id="input-date-ordered" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend class="opc_cart_heading">{{ text_product }}</legend>
          <div class="form-group required">
            <label class="col-md-2 control-label ttr_prodsignincontent" for="input-product">{{ entry_product }}</label>
            <div class="col-md-10">
              <input type="text" name="product" value="{{ product }}" placeholder="{{ entry_product }}" id="input-product" class="form-control" />
              {% if error_product %}
              <div class="text-danger">{{ error_product }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="col-md-2 control-label ttr_prodsignincontent" for="input-model">{{ entry_model }}</label>
            <div class="col-md-10">
              <input type="text" name="model" value="{{ model }}" placeholder="{{ entry_model }}" id="input-model" class="form-control" />
              {% if error_model %}
              <div class="text-danger">{{ error_model }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label ttr_prodsignincontent" for="input-quantity">{{ entry_quantity }}</label>
            <div class="col-md-10">
              <input type="text" name="quantity" value="{{ quantity }}" placeholder="{{ entry_quantity }}" id="input-quantity" class="form-control" />
            </div>
          </div>
          <div class="form-group required">
            <label class="col-md-2 control-label ttr_prodsignincontent">{{ entry_reason }}</label>
            <div class="col-md-10"> {% for return_reason in return_reasons %}
              {% if return_reason.return_reason_id == return_reason_id %}
              <div class="radio">
                <label class="opc_cart_desc">
                  <input type="radio" name="return_reason_id" value="{{ return_reason.return_reason_id }}" checked="checked" />
                  {{ return_reason.name }}</label>
              </div>
              {% else %}
              <div class="radio">
                <label class="opc_cart_desc">
                  <input type="radio" name="return_reason_id" value="{{ return_reason.return_reason_id }}" />
                  {{ return_reason.name }}</label>
              </div>
              {% endif %}
              {% endfor %}
              {% if error_reason %}
              <div class="text-danger">{{ error_reason }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="col-md-2 control-label ttr_prodsignincontent">{{ entry_opened }}</label>
            <div class="col-md-10">
              <label class="radio-inline opc_cart_desc"> {% if opened %}
                <input type="radio" name="opened" value="1" checked="checked" />
                {% else %}
                <input type="radio" name="opened" value="1" />
                {% endif %}
                {{ text_yes }}</label>
              <label class="radio-inline opc_cart_desc"> {% if not opened %}
                <input type="radio" name="opened" value="0" checked="checked" />
                {% else %}
                <input type="radio" name="opened" value="0" />
                {% endif %}
                {{ text_no }}</label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label ttr_prodsignincontent" for="input-comment">{{ entry_fault_detail }}</label>
            <div class="col-md-10">
              <textarea name="comment" rows="10" placeholder="{{ entry_fault_detail }}" id="input-comment" class="form-control">{{ comment }}</textarea>
            </div>
          </div>
          {{ captcha }}
        </fieldset>
        {% if text_agree %}
        <div class="buttons clearfix">
          <div class="pull-left ttr_button_align"><a href="{{ back }}" class="btn btn-danger">{{ button_back }}</a></div>
          <div class="pull-right ttr_button_align">{{ text_agree }}
            {% if agree %}
            <input type="checkbox" name="agree" value="1" checked="checked" />
            {% else %}
            <input type="checkbox" name="agree" value="1" />
            {% endif %}
            <input type="submit" value="{{ button_submit }}" class="btn btn-primary" />
          </div>
        </div>
        {% else %}
        <div class="buttons cart_buttons clearfix">
          <div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div>
          <div class="pull-right">
            <input type="submit" value="{{ button_submit }}" class="btn btn-primary" />
          </div>
        </div>
        {% endif %}
      </form>
      {{ content_bottom }}</div>
				    {% for i in 0..cblw-1 %}{% set flag, break = 0, false %}{% for key, value in  attribute(_context, 'content_pos_below' ~ i) if not key % 2 %}{% if value.1 == true %}{% set flag = [1] %}{% for f in flag if not break %}<div class= "contentbottomcolumn{{ i }}">{% set break = true %}{% endfor %}{% endif %}{% endfor %}{% for i,value in attribute(_context, 'content_pos_below' ~ i) if not i % 2 %} {{ value.0 }} {% endfor %}{% if break %} </div>{% endif %}<div style= "clear: both;"></div>{% endfor %}<!--content_below_end-->
      </div></div>
    {{ column_right }}</div>
</div>
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});
//--></script> 
{{ footer }}
